<?xml version="1.0" encoding="utf-8"?>
<!--
  web.config for Node.js on Windows App Service
  Minimal configuration - App Service will run npm start via STARTUP setting
-->
<configuration>
  <system.webServer>
    <!-- WebSocket support -->
    <webSocket enabled="true" />

    <!-- Allow .next folder static files -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    </staticContent>

    <!-- Do not run Kudu build -->
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".ts" allowed="false" />
          <add fileExtension=".tsx" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>



